* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  background: 
  url(./images/bg-pattern-top.svg) 
  bottom 50vh right 50vw no-repeat,
  url(./images/bg-pattern-bottom.svg) 
  top 50vh left 50vw no-repeat;
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Kumbh Sans', sans-serif;
  
}
h2 {
  font-size: 18px;
}
p, span {
  font-weight: 400;
}
.clr-gray {
  color: hsl(0, 0%, 59%);
  
}
.card {
  margin: 0 auto;
  max-width: 375px;
  height: 405px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.profile-pic-section {
  position: relative;
  background-size: cover;
  width: 100%;
  height: auto;
  margin-bottom: 2.5rem;
}
.profile-img {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border:5px solid white;
}
.profile-background-img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.profile-title {
  text-align: center;
  border-bottom: 1px solid hsla(0, 0%, 59%, 0.2);
}
.profile-title h2 {
  padding: 10px 0;
}
.profile-title p {
  margin-bottom: 1rem;
}
.profile-stats-section {
  margin-top: 2.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 1rem;
}
.profile-stats h2 {
  padding-bottom: 10px;
}
.profile-stats h2, p {
  text-align: center;
}
.profile-stats p {
  font-size: 12px;
}

.attribution {
  margin-top: 1.5rem;
  font-size: .75rem;
}